/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* Padrão */

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* === Header === */

nav {
  height: 6rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  color: #d6000d;
}

.ponto {
  color: black;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

nav ul li a {
  font-size: 1.5rem;
}

.login {
  background-color: #d6000d;
  color: white;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
}
