/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/* Variables  */

:root {
  /* Fonts*/
  --font-padrao: 'Roboto', sans-serif;

  /* Colors */
  --cor-padrao: #d6000d;
}

/* Padrão */

.hcontainer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.bcontainer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

section {
  /* margin-top: 5rem; */
  height: 85vh;
}

img {
  width: 400px;
}

input {
  border: none;
}

/* === Header === */

nav {
  height: 6rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  font-family: var(--font-padrao);
  color: var(--cor-padrao);
}

.ponto {
  color: black;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

nav ul li a {
  font-family: var(--font-padrao);
  font-size: 1.5rem;
  color: black;
}

.login {
  background-color: var(--cor-padrao);
  color: white;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
}

/* Home - Section */

#inicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .principal {
  width: 400px;
} */

.text p {
  font-family: var(--font-padrao);
  font-size: 1.5rem;
  font-weight: 700;
}

div.text p:nth-child(2n) {
  font-family: var(--font-padrao);
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--cor-padrao);
}

div.text a {
  background-color: var(--cor-padrao);
  color: white;
  font-family: var(--font-padrao);
  font-size: 1.5rem;
  font-weight: 700;

  padding: 0.6rem 3rem;
  border-radius: 0.5rem;
  margin-top: 5rem;
}

/* Serviços - Section*/

.cima {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lista-servicos ul {
  list-style: outside;
}

.lista-servicos ul li {
  font-family: var(--font-padrao);

  font-size: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.assist {
  margin-left: 3.5rem;
}

.assist p {
  font-family: var(--font-padrao);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.assist input {
  background-color: lightgrey;
  margin-right: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
}

.assist a {
  font-family: var(--font-padrao);
  font-weight: 700;

  background-color: var(--cor-padrao);
  color: white;
  padding: 0.8rem 3rem;
  border-radius: 0.8rem;
}
