/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* Variables  */

:root {
  /* Fonts*/
  --font-padrao: 'Roboto', sans-serif;

  /* Colors */
  --cor-padrao: #d6000d;
}

/* Padrão */

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

/* === Header === */

nav {
  height: 6rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  font-size: 3rem;
  font-weight: 800;
  color: var(--cor-padrao);
}

.ponto {
  color: black;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

nav ul li a {
  font-family: var(--font-padrao);
  font-size: 1.5rem;
}

.login {
  background-color: var(--cor-padrao);
  color: white;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
}
