@media (min-width: 1024px) {
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  /*=== Header ===*/

  nav {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    flex-direction: row;
    justify-content: space-between;
  }

  .menu .login {
    display: inline-flex;
    visibility: visible;
  }

  /*=== Section Início ===*/

  #inicio {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #inicio .text-inicio {
    text-align: left;
  }

  /*=== Section Servicos ===*/

  #servicos .servicos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    /* gap: 5rem; */
  }

  #servicos .lista-com-icons {
    margin-bottom: 0.5rem;
  }

  #servicos .img-servicos {
    max-width: 350px;
  }

  #servicos .assist {
    align-items: flex-start;
    margin-left: 4rem;
  }

  #servicos .input-button {
    display: flex;
    gap: 1rem;
  }
}
