@media (min-width: 768px) {
  .container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  /*=== Header ===*/

  nav {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    flex-direction: row;
    justify-content: space-between;
  }

  .menu .login {
    display: inline-flex;
    visibility: visible;
  }

  /*=== Section Início ===*/

  #inicio {
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* #inicio .text-inicio {
    text-align: center;
  } */

  #inicio .text-inicio p:nth-child(2) {
    font: 700 2.3rem var(--font-padrao);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  /*=== Header ===*/

  nav {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    flex-direction: row;
    justify-content: space-between;
  }

  .menu .login {
    display: inline-flex;
    visibility: visible;
  }

  /*=== Section Início ===*/

  #inicio {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #inicio .text-inicio {
    text-align: left;
  }

  /*=== Section Servicos ===*/

  #servicos .servicos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    /* gap: 5rem; */
  }

  #servicos .lista-servicos {
    margin-right: 5rem;
  }

  #servicos .lista-com-icons {
    margin-bottom: 0.5rem;
  }

  #servicos .img-servicos {
    max-width: 350px;
  }

  #servicos .assist {
    align-items: flex-start;
    margin-left: 3rem;
  }

  #servicos .input-button {
    display: flex;
    gap: 1rem;
  }

  /*=== Section Depoimentos ===*/

  #depoimentos {
    flex-direction: row;
    align-items: inherit;
    justify-content: space-between;

    margin-top: 10rem;
    margin-bottom: 5rem;
  }

  #depoimentos .depoimento {
    margin-bottom: 0;
    max-width: 380px;
  }

  /*=== Footer ===*/

  #footer .footer {
    height: 20rem;
    width: 96%;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #footer .logo {
    padding: 0;
  }

  #footer .footer-header,
  .footer-sobre,
  .footer-contato,
  .redes-sociais {
    height: 150px;
    width: 200px;
  }

  #footer .footer-header {
    text-align: left;
  }

  #footer div h2 {
    font-size: 1.5rem;
    display: flex;
    height: 70px;
    align-items: center;
  }
}
