/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Variables  */

:root {
  /* Fonts*/
  --font-padrao: 'Roboto', sans-serif;

  /* Colors */
  --cor-padrao: #d6000d;
}

/* Base */

html {
  scroll-behavior: smooth;
}

.container {
  /* max-width: 500px; */
  margin-left: 2rem;
  margin-right: 2rem;
}

img {
  width: 100%;
  height: auto;
}

/* Logo */

.logo {
  font: italic 700 3rem var(--font-padrao);
  color: var(--cor-padrao);
}

.ponto-logo {
  color: #000000;
}

/*=== Header ===*/

nav {
  height: 10rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.menu li a {
  font: 400 1.2rem var(--font-padrao);
  color: #000000;
}

/*=== Section Início ===*/

#inicio {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 3rem;
}

.img-inicio {
  max-width: 400px;
  margin: auto;
}

.text {
  text-align: center;
}

.text p:nth-child(1) {
  font: 700 1rem var(--font-padrao);
  color: black;
}

.text p:nth-child(2) {
  font: 700 2.5rem var(--font-padrao);
  color: var(--cor-padrao);
}

/* .button a {
  font: 400 1.2rem var(--font-padrao);
  background-color: var(--cor-padrao);
  color: white;
  padding: 1rem 3rem;
  border-radius: 0.8rem;
} */

.button a {
  background-color: var(--cor-padrao);
  color: white;

  height: 3rem;
  display: inline-flex;
  align-items: center;
  padding: 0 4rem;
  border-radius: 1rem;
  font: 400 1rem var(--font-padrao);
}

/*=== Section Servicos ===*/

#servicos {
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-servicos {
  max-width: 200px;
  margin-bottom: 1rem;
}

.lista-com-icons {
  display: flex;
  align-items: center;

  margin-bottom: 1.5rem;
}

.lista-com-icons li {
  font: 400 1.2rem var(--font-padrao);
  margin-left: 1rem;
}

.assist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assist p {
  font: 700 1rem var(--font-padrao);
  text-align: center;
  margin-bottom: 1rem;
}

.assist input {
  border: none;
  background-color: rgba(128, 128, 128, 0.507);

  height: 3rem;
  width: 95%;

  padding-left: 1.5rem;
  border-radius: 1rem;

  margin-bottom: 1rem;
}

::-webkit-input-placeholder {
  color: grey;
  font: 400 0.9rem var(--font-padrao);
}

/* .assist a {
  font: 700 0.9rem var(--font-padrao);
  text-align: center;

  background-color: var(--cor-padrao);
  color: white;

  padding: 0.8rem;
  border-radius: 0.8rem;

  width: 90%;

  margin-top: 1rem;
} */

.assist a {
  background-color: var(--cor-padrao);
  color: white;

  font: 700 0.9rem var(--font-padrao);

  height: 3rem;
  display: inline-flex;
  align-items: center;
  padding: 0 3rem;
  border-radius: 1rem;
}

/*=== Section Depoimentos ===*/

#depoimentos {
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.depoimento {
  background-color: lightgray;
  padding: 1rem;
  border-radius: 1rem;

  max-width: 300px;

  margin-bottom: 1.5rem;
}

.perfil {
  background-color: var(--cor-padrao);
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  clip-path: circle();

  margin-right: 1rem;
}

.text-dep {
  width: 80%;
}

.depoimento p:nth-child(1) {
  font: 400 1rem var(--font-padrao);
  margin-bottom: 0.5rem;
}

.depoimento h3 {
  font: 400 1.5rem var(--font-padrao);
}

.depoimento p:nth-child(3) {
  font: 700 1rem var(--font-padrao);
}

blockquote {
  display: flex;
}

/*=== Footer ===*/

#footer {
  background-color: black;
  color: white;

  font-family: var(--font-padrao);
}

#footer .logo {
  color: white;
  text-align: center;
  margin-bottom: 0.5rem;
}

#footer .footer-header {
  text-align: center;
  margin-bottom: 1rem;
}

#footer .footer-main {
  max-width: 60%;
}

#footer .footer-main div {
  margin-bottom: 1rem;
}

#footer .footer-main h2 {
  margin-bottom: 0.5rem;
}

#footer .redes-sociais {
  padding-bottom: 1rem;
}

#footer .redes-sociais h2 {
  margin-bottom: 1rem;
}

#footer .icons {
  display: flex;
  gap: 1.5rem;
}
