/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Variables  */

:root {
  /* Fonts*/
  --font-padrao: 'Roboto', sans-serif;

  /* Colors */
  --cor-padrao: #d6000d;
}

/* Base */

.container {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Logo */
.logo {
  font: italic 700 3rem var(--font-padrao);
  color: var(--cor-padrao);
}

.ponto-logo {
  color: black;
}

/*=== Header ===*/

/* #header {
  background-color: aqua;
} */

nav {
  height: 10rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.menu li a {
  font: 400 1.2rem var(--font-padrao);
  color: black;
}
